* {
  margin: 0px;
  padding: 0px;
  font-family: "Arial", Helvetica, sans-serif;
}
header {
  background-color: #ffcc99; /* Light orange */
  padding: 20px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: "Arial", sans-serif;
  color: #663300; /* Dark brown */
  font-size: 32px;
  margin: 0;
}

nav ul li a.active {
  color: #cc6600; /* Dark brown */
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #663300; /* Dark brown */
  font-weight: bold;
  font-size: 18px;
}

nav ul li a:hover {
  color: #cc6600; /* Darker orange on hover */
}

/* ..... */

main {
  padding: 0px 0;
}

.intro {
  background-color: #f9f5f3; /* Light pink */
  padding: 18vh 0;
  text-align: center;
}

.intro .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.intro-content {
  flex: 1;
  max-width: 50%;
  padding-right: 20px;
}

.intro h2 {
  font-size: 36px;
  color: #663300; /* Dark brown */
}

.intro p {
  font-size: 18px;
  color: #333; /* Dark gray */
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro-image {
  flex: 1;
  max-width: 50%;
}

.intro-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}

.menu {
  background-color: #fff; /* White */
  padding: 50px 0;
  text-align: center;
}

.menu h2 {
  font-size: 36px;
  color: #663300; /* Dark brown */
}

.menu p {
  padding: 2vh;
  font-size: 18px;
  color: #333; /* Dark gray */
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.menu ul li {
  font-size: 20px;
  color: black; /* Medium gray */
  margin-bottom: 10px;
}

.menu ul li img {
  padding: 2vh;
  width: 18vh;
  border-radius: 50%;
  height: auto;
}

.menu ul li:last-child {
  margin-bottom: 0;
}

.location {
  background-color: #f9f5f3; /* Light pink */
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; /* Align items vertically */
}

.location h2 {
  font-size: 36px;
  color: #663300; /* Dark brown */
  margin-bottom: 20px; /* Add margin bottom for spacing */
}

.location p {
  font-size: 18px;
  color: #333; /* Dark gray */
  margin-bottom: 20px;
}

.location address {
  font-style: normal;
  color: #666; /* Medium gray */
  font-size: 16px;
}

.location address br {
  display: none;
}

.location img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  margin-top: 20px;
}
footer {
  background-color: #ffcc99;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
  color: #663300;
}

/* //registrataion */

/* Form container */
#registrationForm {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Improved box shadow */
}

/* Form groups */
.form-group {
  margin-bottom: 15px;
}

/* Labels */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

/* Text inputs and select */

/* Text, password, and email input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

/* Text, password, and email input fields hover */
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
  border-color: #999;
}

/* Text, password, and email input fields focus */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #663300;
  outline: none;
}

/* Form group */
.form-group {
  margin-bottom: 20px;
}

/* Label */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Select */
select {
  width: 101%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

/* Select hover */
select:hover {
  border-color: #999;
}

/* Select focus */
select:focus {
  border-color: #663300;
  outline: none;
}

/* Option */
option {
  padding: 10px;
  font-size: 16px;
  color: #333;
}

/* Option hover */
option:hover {
  background-color: #f9f9f9;
}

/* Radio buttons */
input[type="radio"] {
  margin-right: 8px;
}

/* Checkbox */
input[type="checkbox"] {
  margin-right: 8px;
}

/* Submit button */
/* Submit button */
button[type="submit"] {
  background-color: #663300;
  color: #fff;
  border: none;
  padding: 10px 24px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Set width to 100% to occupy full width of its container */
  max-width: 300px; /* Limit max-width for better readability on larger screens */
  margin: 0 auto; /* Center the button horizontally */
  display: block; /* Ensure button occupies full width */
}

/* Submit button hover */
button[type="submit"]:hover {
  background-color: #552200;
}

button[type="submit"]:hover {
  background-color: #552200;
}

/* Error message */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* oder section */

/* Form container */
#orderForm {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Improved box shadow */
}

/* Form groups */
#orderForm .form-group {
  margin-bottom: 15px;
}

/* Labels */
#orderForm label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

/* Text inputs, select, and textarea */
#orderForm input[type="text"],
#orderForm input[type="password"],
#orderForm input[type="email"],
#orderForm input[type="tel"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

#orderForm select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

/* Text inputs, select, and textarea hover */
#orderForm input[type="text"]:hover,
#orderForm input[type="password"]:hover,
#orderForm input[type="email"]:hover,
#orderForm select:hover {
  border-color: #999;
}

/* Text inputs, select, and textarea focus */
#orderForm input[type="text"]:focus,
#orderForm input[type="password"]:focus,
#orderForm input[type="email"]:focus,
#orderForm select:focus {
  border-color: #663300;
  outline: none;
}

/* Radio buttons */
#orderForm input[type="radio"] {
  margin-right: 8px;
}

/* Checkbox */
#orderForm input[type="checkbox"] {
  margin-right: 8px;
}

/* Submit button */
#orderForm button[type="submit"] {
  background-color: #663300;
  color: #fff;
  border: none;
  padding: 10px 24px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

/* Submit button hover */
#orderForm button[type="submit"]:hover {
  background-color: #552200;
}

#deliveryAddress,
#billingAddress,
#emailReceipt,
#contactNumberOder {
  width: 33vh;
  height: auto;
}
